@page "/books"

@inject IWordStorage _wordStorage

<Row ItemsPerRow="ItemsPerRow.Four">

    <Card>
        <BodyTemplate>
            <h5 class="card-title">CET4上册</h5>
            <p class="card-text">CET4(College English Test Band 4)是大学英语四级考试的简称,是测试大学生英语能力的一个标准化考试。</p>
            <a href="/todayWords" class="btn btn-primary">查看词库</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">Card 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">Card 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
</Row>
