@page "/initialization"
@inject IWordStorage _wordStorage
@inject INavigationService _navigationService

<div class="text-center">
    <div class="shim-2xl"></div>
    <h1>
        <Spinner></Spinner>
    </h1>
</div>

@code {
	// 页面职责单一化，此页面用初始化数据库 xj实现
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (!firstRender) {
            return;
        }

        if (!_wordStorage.IsInitialized)
        {
            await _wordStorage.InitializeAsync();
        }

       

        await Task.Delay(1000);

        _navigationService.NavigateTo(NavigationServiceConstants.TodayWordsPage);
    }

}