@page "/todayWords"
@inject INavigationService _navigationService
@inject IWordStorage _wordStorage
@inject ToastService ToastService

<div class="d-flex align-items-center">

    <button class="btn btn-primary" @onclick="DecrementGoal">-</button>
    

    <h5 class="m-2" role="status">目标: </h5>
    <h3>@goal</h3>
    <h5 class="m-2" role="status"> 个单词</h5>

    <button class="btn btn-primary" @onclick="IncrementGoal">+</button>


    <Button Size="Size.Small" OnClick="() => GenerateReading()" Color="Color.Success">生成阅读</Button>
</div>

<Collapse>
    <CollapseItems>
    @foreach (var word in _words)
    {
        <CollapseItem Text=@word.HeadWord >
            <div @onclick="() => OnClick(word)">
                <span style="font-weight: bold; color: #0078d4">@word.HeadWord</span>

                @word.TranCN @word.Pos
                <div class="shim-2xs"></div>
            </div>
            <div class="btn-group" role="group">
                <Button Size="Size.Small" OnClick="() => KnowWord(word.WordRank)" Color="Color.Success">熟练掌握</Button>
                <Button Size="Size.Small" OnClick="() => UnknownWord(word.WordRank)" Color="Color.Primary">加入复习</Button>
            </div>
        </CollapseItem>
    }
    </CollapseItems>
</Collapse>
