@page "/todayWords"
@inject INavigationService _navigationService

@inject IWordStorage _wordStorage

<div class="d-flex align-items-center">

    <button class="btn btn-primary" @onclick="DecrementPageSize">-</button>

    <h5 class="m-2" role="status">我今日要背: @pageSize 个单词</h5>  

    <button class="btn btn-primary" @onclick="IncrementPageSize">+</button>

</div>
<Collapse>
    <CollapseItems>
    @foreach (var word in _words)
    {
        <CollapseItem Text=@word.headWord>
                <span style="font-weight: bold; color: #0078d4">@word.headWord</span>
                <div class="shim-2xs"></div>
                @word.tranCN @word.pos
                <div class="shim-2xs"></div>
                <div class="btn-group" role="group">
                    <Button Size="Size.Small" OnClick="() => KnowWord(word.wordRank)" Color="Color.Success">我认识</Button>
                    <Button Size="Size.Small" OnClick="() => UnknownWord(word.wordRank)" Color="Color.Primary">我不认识</Button>
                </div>
                <Button Size="Size.Small" OnClick="() => GoToDetail(word.wordRank)" Color="Color.Primary">走了</Button>
        </CollapseItem>
    }
    </CollapseItems>
</Collapse>
