@page "/counter"
@using System.Speech.Synthesis
@using EasyWord.Library.Services

@using Edge_tts_sharp
@inject ITTSService _ttsService

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<Button Color="Color.Danger" Icon="fa-solid fa-font-awesome" Text="测试" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

	// // 初始化SpeechSynthesizer.
	//     SpeechSynthesizer synth = new SpeechSynthesizer();
	//
	// //设置为本机中文化为英文的语音
	//     synth.SelectVoice(currentCount % 2 == 0 ? "Microsoft Zira Desktop" : "Microsoft David Desktop");
	//
	//
	// // 设置输出
	//     synth.SetOutputToDefaultAudioDevice();
	//
	// // 输出
	//     synth.Speak("now the current count is " + currentCount);

	    var msg = "now the current count is " + currentCount;
	    _ttsService.ToSpeechAsync(msg);


    }



	


}
