@page "/counter"
@using System.Speech.Synthesis

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<Button Color="Color.Danger" Icon="fa-solid fa-font-awesome" Text="测试" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

	// Initialize a new instance of the SpeechSynthesizer.
	    SpeechSynthesizer synth = new SpeechSynthesizer();
	    synth.SelectVoice("Microsoft Zira Desktop");
	// Configure the audio output.
	    synth.SetOutputToDefaultAudioDevice();
		

	// Speak a string.
	    synth.Speak("now the current count is " + currentCount);
    }



	


}
